.Form15 {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;

    form {
        display: flex;
        flex-direction: column;
        span {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        }
        span > label {
        margin-bottom: 10px;
        font-weight: bold;
        }
        label > em {
        font-weight: 500;
        }
        .industrySector {
        display: grid;
        grid-template-columns: auto auto;
        }
        .asterisk {
        display: inline;
        color: red;
        }
    }
}