.form {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;

    ol {
        li {
            text-align: start;
        }
    }

    .board_member_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .header_info {
        text-align: start;
    }

    .nextBtn {
        padding: 2rem;
        width: 200px;
        align-self: flex-end;
    }
}
